---
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-avoid-bind,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-pass-by-value,
  modernize-redundant-void-arg,
  modernize-replace-auto-ptr,
  modernize-shrink-to-fit,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-*,
  portability-*,
  readability-avoid-const-params-in-decls,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-else-after-return,
  readability-make-member-function-const,
  readability-misplaced-array-index,
  readability-non-const-parameter,
  readability-redundant-control-flow,
  readability-redundant-member-init,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-simplify-boolean-expr,
  readability-string-compare,
  readability-uniqueptr-delete-release,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape

WarningsAsErrors: ''

HeaderFilterRegex: '(src|dggui|plugingui|plugin|drumgizmo|test)/.*'
